.projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
}

.projects h1 {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-family: "Block Bold";
    margin-bottom: 20px;
}
.projects p{
    color: white;
    font-family: MyCustomFont;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 960px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.card {
    width: 100%;
    background: white;
    padding: .4em;
    border-radius: 6px;
}

.card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding-top: 100%; /* This ensures the image is 1:1 */
    border-radius: 6px 6px 0 0;
}

.card-image:hover {
    transform: scale(0.98);
}

.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}

.category:hover {
    cursor: pointer;
}

.heading {
    font-weight: 600;
    color: white; /* Changed text color to white */
    padding: 7px;
}

.heading:hover {
    cursor: pointer;
}

.author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

.name {
    font-weight: 600;
}

.name:hover {
    cursor: pointer;
}
